<%- include('../includes/header.ejs') %> 
    <link rel="stylesheet" href="/css/form.css" />
    <link rel="stylesheet" href="/css/auth.css">
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %> 
    <main  >
      <% if (errue.length >0) { %>
      <div class="opacity-50 p-5 max-w-sm mx-auto bg-red-400  border-2 border-red-700 rounded-xl shadow-lg   space-x-4"style="display: flex; justify-content: center;">
          <div class="text-lg font-medium text-black" style="color: crimson;"> <%=errue  %></div>
      </div>
      <% } %>
      <form class="login-form  max-w-sm mx-auto" action="/rest" method="POST">
        <div class="form-control">
          <label for="email">email</label>
          <input type="email" name="email" id="email" />
        </div>

        <button class="btn" type="submit">Reset Password</button>
      </form>
    </main>
    <%- include('../includes/end.ejs') %> 